<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}રાજગોર બ્રાહ્મણ પરિવાર{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .container {
      flex: 1;
    }
    .menu-text {
      margin-right: 10px;
    }
    .action-separator {
      margin: 0 10px;
    }

    <!-- Add this inside the <style> section in base.html -->
@media (min-width: 769px) {
  .search-form-mobile {
    display: none;
  }
}




  /* ... your existing styles ... */

  /* Add this inside the <style> section in base.html */
  .small-symbols {
    font-size: 10px; /* Adjust the font size as needed */
    display: flex;
    justify-content: space-between;
  }

  .small-symbols a {
    margin-right: 10px; /* Adjust the margin as needed */
  }




  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'familytree_app:home' %}">Home</a>
  <span class="action-separator"></span>
  {% if user.is_authenticated and user.is_staff or user.username|slice:":6" == 'add888' or user.username|slice:":7" == 'edit444'%}
  <a class="navbar-brand" href="{% url 'familytree_app:family_member_list' %}">List</a>
  {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    Menu
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if user.is_authenticated and user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'familytree_app:view_all_roots' %}">Root Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'familytree_app:view_all_leaves' %}">Leaves</a>
      </li>
      {% endif %}
      {% if user.is_superuser or user.username|slice:":6" == 'add888' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'familytree_app:family_member_create' %}">Add Root</a>
      </li>
      {% endif %}
    </ul>

<form class="form-inline mt-3" method="GET" action="{% url 'familytree_app:search_by_name' %}">
  <input class="form-control mr-sm-2" type="search" placeholder="Search by ID/name/add" name="search">
  <select class="form-control mr-sm-2" name="selected_city">
    <option value="" selected disabled>બધા ગામો</option>
    {% for city in cities %}
      <option value="{{ city.id }}">{{ city.name }}</option>
    {% endfor %}
  </select>
 {% if user.is_authenticated and user.is_staff and user.is_admin %}
  <select class="form-control mr-sm-2" name="selected_family_identification">
    <option value="" selected disabled>બધા ગૌત્ર</option>
    {% for family_id in family_identifications %}
      <option value="{{ family_id.id }}">{{ family_id.name }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>







   {% if user.is_authenticated and user.is_staff %}
    <form class "form-inline mt-3" method="GET" action="{% url 'familytree_app:filter_by_gender' %}">
      <select class="form-control mr-sm-2" name="selected_gender">
        <option value="" selected disabled>Filter by Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Apply Filter</button>
    </form>
    {% endif %}








  </div>
</nav>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
<footer class="footer mt-auto py-3 bg-light" style="display: flex; flex-direction: column; align-items: center;">
  <div style="display: flex; flex-direction: column; align-items: center;">
    Total Members: {{ total_family_members }} | Males: {{ total_males }} | Females: {{ total_females }}<br>
પ્રોગ્રામર: મનીષભાઈ ભાસ્કરભાઇ જોષી, મહુવા,  સંપર્ક: <a href="https://wa.me/919978136555" target="_blank">+91-9978136555 (WhatsApp)</a>
  </div>
  <div>
    {% if user.is_authenticated %}
      <a class="small-symbols" href="{% url 'familytree_app:logout' %}?next={% url 'familytree_app:home' %}">🚪</a>
    {% else %}
      <a class="small-symbols" href="{% url 'familytree_app:login' %}?next={% url 'familytree_app:home' %}">🔒</a>
    {% endif %}
  </div>
</footer>








<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchFormMobile = document.querySelector('.search-form-mobile');
    const navbarToggle = document.querySelector('.navbar-toggler');

    navbarToggle.addEventListener('click', function () {
        if (window.innerWidth <= 768) {
            searchFormMobile.style.display = searchFormMobile.style.display === 'none' ? 'block' : 'none';
        }
    });

    window.addEventListener('resize', function () {
        if (window.innerWidth > 768) {
            searchFormMobile.style.display = 'block';
        }
    });
});
</script>




</body>
</html>
